
/*overall styling*/
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

p {
    font-size: 18px;
}

.header, .footer, .section-1, .section-2, .section-3, .section-4 {
    padding: 16px 48px;
}

.section-1, .section-2, .section-3, .section-4 {
    padding-bottom: 48px;
}

/*header and footer*/
.header, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header .logo {
    font-size: 24px;
}

.header ul {
    gap: 18px;
}

.header a {
    color: #F9FAF8;
    text-decoration: none;
}

/*section 1*/
.section-1 {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

.left, .right {
    width: 400px;
}

.section-1 h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;

}

.section-1 button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #F9FAF8;
    padding: 5px;
    border: 10px;
    border-radius: 5px;
    width: 100px;
}

#cover-image {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/*section 2*/
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-2 h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.illustrations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    color: rgb(104, 104, 104);
}

.illustrations li {
    display: flex;
    flex-direction: column;
    max-width: 185px;
}

.illu {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 10px;
    border: 2.5px solid #3882F6;
    border-radius: 10px;
}

.illu img {
    width: 100%;
    object-fit: contain;
}

/*section 3*/

.section-3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0;
    max-width: 800px;
}

.section-3 p {
    font-size: 36px;
    font-style: italic;
    font-weight: 10;
    color: #1F2937;
    margin-bottom: 0;
}

#author {
    font-size: 18px;
    font-weight: 600;
    text-align: end;
}